
@{
    ViewData["Title"] = "AccessDenied";
}



<div class="container" style="padding:5%;text-align:center">

    <div class="text-danger" asp-validation-summary="All"></div>
    <h2>Yönetici olmadığınızdan bu alana erişemezsiniz.</h2>
    <br />
    
    <br />
    <h5> Yönetici ayrıcalıkları için <a asp-action="Login" asp-controller="Account"> Giriş yapabilirsiniz.</a></h5>
    <br />


</div>



