
@model IEnumerable<IdentityUser>
@{
    ViewData["Title"] = "Index";
}


<div class="container" style="padding:2%;text-align:center">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <h3>Kullanıcı Hesapları</h3>
    <br />
    <table class="table table-bordered table-striped table-sm m-1 p-1">
        <tr>
            <th>Kullanıcı Id</th>
            <th>Kullanıcı Adı</th>
            <th>Mail Adresi</th>
            <th></th>
        </tr>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="4" class="text-center">
                    Kullanıcı Yok
                </td>
            </tr>
        }
        else
        {
            foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>

                    <td>
                        <form asp-route-id="@user.Id" asp-action="Delete" method="post">
                            <button type="submit" class="btn btn-danger">Sil</button>

                        </form>
                    </td>
                </tr>
            }
        }


    </table>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>

  

