@model Kiralama.Models.Filmler

@{
    ViewData["Title"] = "Create";
}

<h2>Film Oluştur</h2>

<h4>Filmler</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FilmAdi" class="control-label"></label>
                <input asp-for="FilmAdi" class="form-control" />
                <span asp-validation-for="FilmAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResimYolu" class="control-label"></label>
                <input asp-for="ResimYolu" class="form-control" />
                <span asp-validation-for="ResimYolu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tur" class="control-label"></label>
                <input asp-for="Tur" class="form-control" />
                <span asp-validation-for="Tur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dil" class="control-label"></label>
                <input asp-for="Dil" class="form-control" />
                <span asp-validation-for="Dil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sure" class="control-label"></label>
                <input asp-for="Sure" class="form-control" />
                <span asp-validation-for="Sure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aciklama" class="control-label"></label>
                <input asp-for="Aciklama" class="form-control" />
                <span asp-validation-for="Aciklama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yonetmen" class="control-label"></label>
                <input asp-for="Yonetmen" class="form-control" />
                <span asp-validation-for="Yonetmen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oyuncular" class="control-label"></label>
                <input asp-for="Oyuncular" class="form-control" />
                <span asp-validation-for="Oyuncular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KiralamaUcreti" class="control-label"></label>
                <input asp-for="KiralamaUcreti" class="form-control" />
                <span asp-validation-for="KiralamaUcreti" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Oluştur" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Geri Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
