@model Kiralama.Models.SatinAlma

@{
    ViewData["Title"] = "Delete";
}

<h2>İptal Edilen Satın Alma</h2>

<h3>Bu işlemi iptal etmek istediğinize emin misiniz?</h3>
<div>
    <h4>Satın Alma İşlemleri</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FilmID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FilmID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="İptal Et" class="btn btn-default" /> |
        <a asp-action="Index">Geri Dön</a>
    </form>
</div>
