<!DOCTYPE html>
@{
    ViewData["Title"] = "İletişim";
}
<html>
<head>
</head>
<body>
    <style>
        .full {
            display: table;
            width: 100%;
        }

        .left, .right {
            display: table-cell;
            width: 50%;
            height: 720px;
        }

        .left {
            background-color: azure;
        }

        .right {
            background-image: url('/images/abstergologo3.png');
            background-repeat: no-repeat;
            background-position: center
        }
    </style>


    <div class="full">
        <div class="left">
            <br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <h1 style="text-align:center">Abstergo Entertainment Corp.</h1>
            <br />


            <address>
                <strong style="text-align:center">&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Tüm İletişimler İçin:</strong> <a href="mailto:s">abstergo@abstergo.com</a><br />
            </address>


        </div>
        <div class="right">

        </div>
    </div>
</body>

</html>



